html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: "hidden";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    overflow: "hidden";
  }
}
/*Introduction box css*/
.BigText {
  font-family: proxima-nova;
  font-weight: 700;
  font-size: 96px;
}
.Title {
  font-family: proxima-nova;
  text-decoration: underline;
  font-weight: 700;
  font-size: 36px;
  color: #516B7F;
}
.Desc {
  font-family: proxima-nova;
  font-weight: 300;
  color: #6B6868;
  font-size: 24px;
}
.wave {
animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
animation-duration: 2.5s;        /* Change to speed up or slow down */
animation-iteration-count: infinite;  /* Never stop waving :) */
transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}
